* ul,
a {
	text-decoration: none;
}

.footer {
	background-image: url("https://t4.ftcdn.net/jpg/01/05/50/41/360_F_105504104_rMTSWGJklAeG3N2NCHtkVimShbDC03si.jpg");
	background-repeat: repeat;
	max-width: 100%;
	height: 300px;
	margin-top: 50px;
}

.ftr-txt {
	max-width: 60%;
	min-height: 200px;
	background-color: #890f0d;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}
.footer-menu {
	list-style: none;
}

.footer-menu {
	font-size: 22px;
	list-style: none;
	color: #fff;
	font-family: "Open Sans", sans-serif;
}
.footer-menu:hover {
	color: orange;
}

.footer-list {
	color: #fff;
	list-style: none;
	font-family: "Open Sans", sans-serif;
}
.footer-list:hover {
	color: orange;
}

.footer-icon {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

@media screen and (max-width: 1300px) {
}
