.pagination {
	display: flex;

	justify-content: center;
	align-items: center;
	bottom: 0;
	height: 50px;
	list-style-type: none;
	margin: 0 auto;
	background-color: #fff;
	padding-top: 50px;
}

.pagination a {
	padding: 10px;
	margin: 5px;
	text-decoration: none;

	border-radius: 5px;
	cursor: pointer;
	color: #890f0d;
}

.pagination a:hover {
	color: #fff;
}

.activeBtn a {
	background-color: #890f0d;
}
.pageCount {
	background-color: black;
	color: #890f0d;
}
