.header {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-style: unset;
	text-align: center;
	margin: 0 auto;
	color: #890f0d;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 100%;
	min-height: 500px;
}

.hero-section-bg-title {
	font-size: 68px;
}

.header-txt {
	font-size: 26px;
	max-width: 60%;
	height: 250px;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	color: #890f0d;
	margin: 0 auto;
	margin-top: 60px;
}
.hero-img {
	min-width: 50%;
}
.hero-img img {
	max-width: 100%;
	border: none;
}
.banner {
	max-width: 50%;
	min-height: auto;
}

.story {
	max-width: 100%;
	min-height: 400px;
	display: flex;
	/* flex-wrap: wrap; */
	background-color: #890f0d;
	border: #890f0d 5px solid;
}
.story img {
	max-width: 100%;
	/* min-height: 200px; */
}
.story-txt {
	background-color: rgb(241, 229, 113);
	max-width: 600px;
	height: 300px;
	margin: 180px auto;
	margin-left: -100px;
	opacity: 0.7;
	text-align: center;
}
.story-txt h2 {
	padding: 20px;
	font-size: 28px;
	font-family: "Open Sans", sans-serif;
}
.story-txt p {
	font-size: 22px;
	margin: 15px;
	font-family: "Open Sans", sans-serif;
}
.works-section {
	background-color: #f5ede7;
	max-width: 1300px;
	min-height: 350px;
	border-radius: 20px;
	margin: 40px auto;
}
.works {
	/* max-width: 1300px; */

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
}
.works-txt {
	/* margin: 60px auto; */
	font-size: 22px;
	font-style: regular;
	text-align: center;
	padding-top: 50px;
	font-family: "Open Sans", sans-serif;
}
.works-articles,
.time,
.bake,
.credit {
	width: 300px;
	height: 251px;
	padding: 30px;
}
@media screen and (max-width: 1000px) {
	.hero-section-bg-title {
		font-size: 28px;
	}
	.header-txt {
		font-size: 16px;
	}
}
@media screen and (max-width: 700px) {
	.header-txt {
		max-width: 600px;
	}
}
